.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: $bcgrnd2;
  width: 100vw;
  height: calc(100% - $topbar-height);
  gap: 24px;
  padding: $spcng40;
  z-index: 0;
  overflow: auto;
  &.sidebar {
    left: 80px;
    width: calc(100vw - $sidebar-width);
  }
}

@media (max-width: $medium) {
  .main {
    padding: $spcng24;
    &.sidebar {
      left: 0;
      width: 100vw;
    }
  }
}

@media (max-width: $small) {
  .main {
    height: calc(100% - $mobile-topbar-height);
    padding: 0;
    &.sidebar {
      left: 0;
      width: 100vw;
    }
  }
}
