.modal {
  color: $text3;
  max-width: 710px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  color: $text5;
}

.attention {
  border-radius: 50%;
  background-color: rgba(51, 0, 255, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  svg {
    stroke: $primary1;
    @include icon_size_24;
  }
}

.body {
  @include t3;
  margin-top: 10px;

  mark {
    display: inline;
    color: #000;
  }
}

.link {
  margin-top: $spcng40;
  display: flex;
  justify-content: center;
  @include lnks_n_btns3;
  button {
    padding: 0;
    min-height: fit-content;
    height: fit-content;
  }
}

@media (max-width: $medium) {
  .modal {
    max-width: 90%;
  }
}

@media (max-width: $small) {
  .modal {
    max-width: 95%;
  }

  h4.header {
    @include t2;
    line-height: 120%;
  }

  .body {
    @include t4;
  }
}
